@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500&display=swap');

body, html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-weight: 300;
    background: rgb(255,226,231);
    background: linear-gradient(340deg, rgba(255,226,231,1) 1%, rgba(255,255,255,1) 98%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* header/nav */
.topnav {
    overflow: hidden;
    height: 70px;
}

#logo {
    font-family: 'Lobster', sans-serif;
    font-size: 3rem;
    color: #000000;
    cursor: pointer;
}

/* main content */
#form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.questions {
    display: none;
    text-align: center;
}

#question1 {
    order: 1;
    display: block;
}

#question2 {
    order: 2;
}

#question3 {
    order: 3;
}

#question3 p {
    text-align: left;
    font-size: 4rem;
    margin: 0;
}

label {
    font-size: 5rem;
}

input[type="date"] {
    display: block;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    min-height: 1.2em;
}

.messages {
    display: none;
}


/* footer */
#by {
    right: 0;
    bottom: 0;
    background-color: transparent;
    color: #000000;
    position: fixed;
    padding: 0.5em;
    font-weight: 500;
    z-index: 4;
}

/*  */

.questions {
    border: 2px solid red;
}