@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500&display=swap');

body, html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-weight: 300;
    background: rgb(255,226,231);
    background: linear-gradient(340deg, rgba(255,226,231,1) 1%, rgba(255,255,255,1) 98%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 100vh;
}

/* header/nav */
.topnav {
    overflow: none;
    height: 70px;
}

#logo {
    width: 11em;
    cursor: pointer;
    padding: 2em 0 0 2em;
}

/* main content */
#form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    color: #5f5e5e;
}

.questions {
    display: none;
    text-align: center;
    padding-top: 2.5%;
    width: 85%;
}

#landingPage {
    display: inline-block;
    width: 60%;
}

#question1 {
    order: 1;
}

#question2 {
    order: 2;
}

#question3 {
    order: 3;
}

#question3 p {
    font-size: 4rem;
    margin: 0;
    width: 75%;
    display: inline-block;
    text-align: left;
}

label {
    font-size: 6rem;
}

#landingHeader {
    font-size: 8vh;
}

input[type='date'],
input[type='time'],
input {
    height: 1.5em;
    font-size: 1em;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    box-shadow: none;
    margin: 2em 0 0 .25em;
    }

button {
    background-color: #FF5964;
    color: white;
    font-weight: bold;
    padding: .25em 2em;
    border-radius: 3em;
    text-align: center;
    font-size: 1em;
}

button:hover {
    background-color: #DF2935;
}

.messages {
    display: none ;
    padding-top: .5em;
}

#shareButtons {
    padding: 1em 0 0 0;
    display: none;
}

/* footer */

footer {
    flex: 1 0 auto;
}

#by {
    right: 0;
    bottom: 0;
    background-color: transparent;
    color: #000000;
    padding: 0.5em;
    font-weight: bold;
    position: absolute;
    text-align: right;
}

#by:hover {
    color: #DF2935;
}





/* media queries */

@media screen and (max-width: 800px) {
    .topnav {
        text-align: center;
    }

    #logo {
        padding: 0;
        margin-top: .5em;
    }

    .questions {
        margin: 1% 1% 10% 1%;
        padding: 0;
        width: 95%;
    }

    label {
        font-size: 6vh;
    }

    #question3 p {
        font-size: 5vh;
        width: 90%;
    }

    input {
        margin-top: 10%;
    }

    #landingHeader {
        font-size: 6vh;
        width: 100%;
    }

    button {
        background-color: #FF5964;
        color: white;
        font-weight: bold;
        padding: .25em 2em;
        border-radius: 3em;
        text-align: center;
        font-size: 1.5em;
        display: block;
        margin: 0 auto;
    }

    #nextButton,
    #generateButton,
    #finalizeButton {
       margin-top: 5%; 
    }

    #shareButtons {
        padding: 1em 0 0 0;
        display: none;
        left: 0;
        bottom: 0;
        padding: 0.5em;
        position: absolute;
        text-align: left;
    }
}